In [1]:
import sqlite3

In [84]:
con = sqlite3.connect('example.db')
con.execute("drop table user_score")

con.execute("create table user_score(id, subject, score)")

con.execute("insert into user_score(id, subject, score) values (%d, '%s', %d)" %(1, 'math', 100))
con.execute("insert into user_score(id, subject, score) values (%d, '%s', %d)" %(1, 'eng', 90))
con.execute("insert into user_score(id, subject, score) values (%d, '%s', %d)" %(2, 'math', 50))
con.execute("insert into user_score(id, subject, score) values (%d, '%s', %d)" %(2, 'eng', 80))
con.execute("insert into user_score(id, subject, score) values (%d, '%s', %d)" %(2, 'phy', 80))
con.execute("insert into user_score(id, subject, score) values (%d, '%s', %d)" %(2, 'music', 80))
con.execute("insert into user_score(id, subject, score) values (%d, '%s', %d)" %(3, 'eng', 90))
con.execute("insert into user_score(id, subject, score) values (%d, '%s', %d)" %(4, 'math', 100))
con.execute("insert into user_score(id, subject, score) values (%d, '%s', %d)" %(4, 'math', 100))


con.commit()
con.close()

In [92]:
con = sqlite3.connect('example.db')
cur = con.cursor()

query = 'select * from user_score'
rows = cur.execute(query).fetchall()
for row in rows:
    print(row)
    
con.close()

(1, 'math', 100)
(1, 'eng', 90)
(2, 'math', 50)
(2, 'eng', 80)
(2, 'phy', 80)
(2, 'music', 80)
(3, 'eng', 90)
(4, 'math', 100)
(4, 'math', 100)

In [93]:
con = sqlite3.connect('example.db')
cur = con.cursor()

query = 'select user_score.*, j2.* \
            from user_score \
            inner join user_score j2 on user_score.id = j2.id'
rows = cur.execute(query).fetchall()
for row in rows:
    print(row)
    
con.close()

(1, 'math', 100, 1, 'eng', 90)
(1, 'math', 100, 1, 'math', 100)
(1, 'eng', 90, 1, 'eng', 90)
(1, 'eng', 90, 1, 'math', 100)
(2, 'math', 50, 2, 'eng', 80)
(2, 'math', 50, 2, 'math', 50)
(2, 'math', 50, 2, 'music', 80)
(2, 'math', 50, 2, 'phy', 80)
(2, 'eng', 80, 2, 'eng', 80)
(2, 'eng', 80, 2, 'math', 50)
(2, 'eng', 80, 2, 'music', 80)
(2, 'eng', 80, 2, 'phy', 80)
(2, 'phy', 80, 2, 'eng', 80)
(2, 'phy', 80, 2, 'math', 50)
(2, 'phy', 80, 2, 'music', 80)
(2, 'phy', 80, 2, 'phy', 80)
(2, 'music', 80, 2, 'eng', 80)
(2, 'music', 80, 2, 'math', 50)
(2, 'music', 80, 2, 'music', 80)
(2, 'music', 80, 2, 'phy', 80)
(3, 'eng', 90, 3, 'eng', 90)
(4, 'math', 100, 4, 'math', 100)
(4, 'math', 100, 4, 'math', 100)
(4, 'math', 100, 4, 'math', 100)
(4, 'math', 100, 4, 'math', 100)

In [94]:
con = sqlite3.connect('example.db')
cur = con.cursor()

query = 'select id, max(score) as m1 \
            from user_score \
            group by id'
rows = cur.execute(query).fetchall()
for row in rows:
    print(row)
    
con.close()

(1, 100)
(2, 80)
(3, 90)
(4, 100)

In [95]:
con = sqlite3.connect('example.db')
cur = con.cursor()

query = 'select user_score.*, j2.* \
            from user_score \
            inner join \
                (select id, max(score) as m1 from user_score group by id) j2 \
                on user_score.id = j2.id and user_score.score = j2.m1'
rows = cur.execute(query).fetchall()
for row in rows:
    print(row)
    
con.close()

(1, 'math', 100, 1, 100)
(2, 'eng', 80, 2, 80)
(2, 'phy', 80, 2, 80)
(2, 'music', 80, 2, 80)
(3, 'eng', 90, 3, 90)
(4, 'math', 100, 4, 100)
(4, 'math', 100, 4, 100)

In [96]:
con = sqlite3.connect('example.db')
cur = con.cursor()

query = 'select user_score.id, max(user_score.subject), j2.m1 \
            from user_score \
            inner join \
                (select id, max(score) as m1 from user_score group by id) j2 \
                on user_score.id = j2.id and user_score.score = j2.m1\
            group by user_score.id'
rows = cur.execute(query).fetchall()
for row in rows:
    print(row)
    
con.close()

(1, 'math', 100)
(2, 'phy', 80)
(3, 'eng', 90)
(4, 'math', 100)